- let socialsList = ['ok', 'vk', 'inst', 'fb']

-
	let navList = [
		'О проекте',
		'Консультанты',
		'Наши студии',
		'Мастер классы',
		'Федеральный навигатор',
		'Тьюторский центр Воскобовича',
		'Электронная библиотека',
		'Контакты'
	]

-
	let subMenu = [
		{ 
			title: 'От 3 лет',
			list: [
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"'
			]
		},
		{ 
			title: 'От 5 лет',
			list: [
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
			]
		},
		{ 
			title: 'От 7 лет',
			list: [
				'Кризис 6-7 лет: От детства к школе',
			]
		},
		{ 
			title: 'От 14 лет',
			list: [
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
			]
		},
		{ 
			title: 'От 14 до 18 лет',
			list: [
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"',
				'Кризис 6-7 лет: От детства к школе',
				'Участие во Всероссийском проекте "Тьюторские города"'
			]
		},
	]