@import "buttons/buttons";
@import "footer/footer";
@import "header/header";
@import "main-nav/main-nav";
@import "icons/icons";
@import "modal/modal";




@import "sections/counselling";
@import "sections/banner";
@import "sections/our-studios";
@import "sections/webinar";
@import "sections/about";
@import "sections/consultants";
@import "sections/additional";