.g-btn {
    position: relative;
    display: inline-block;
    padding: 15px 40px;
    color: $white;
    overflow: hidden;
    text-decoration: none;
    border-radius: 6px;
    background-color: $accentColor;
    box-shadow: none;
    border: none;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:hover {
        color: $white;
        background-color: $mainColor;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    &:active { transform:  translateY(2px) }
}

span.ripple {
	position: absolute;
	border-radius: 50%;
	transform: scale(0) ;
	animation: ripple 600ms linear;
	background-color: rgba(255, 255, 255, 0.7);
	opacity: .7;
}
@keyframes ripple {
	to {
	  transform: scale(4) ;
	  opacity: 0;
	}
}