extends layout/main

block variables
	-let title = 'Главная'

block content
	include sections/top-banner
	include sections/counselling
	include sections/material
	+bannerInfo('ЗАПИШИТЕСЬ НА БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ', 'К НАШИМ СПЕЦИАЛИСТАМ', 'banner-img')
	include sections/interest
	include sections/our-studios
	include sections/webinar
	include sections/about
	include sections/consultants
	include sections/additional
	include sections/links
	include sections/contacts