extends layout/main

block variables
	-let title = 'Главная'

block content
	include sections/top-banner
	form.search
		.search__item
			input(type="text" placeholder='Поиск по каталогу')
			button
				+icon('search')
	include sections/counselling
	include sections/material
	include sections/banner
	include sections/interest
	include sections/our-studios
	include sections/webinar
	include sections/about
	include sections/consultants
	include sections/additional
	include sections/links
	include sections/contacts