extends layout/main

block variables
	-let title = 'Главная'

block content

	span Календарь событий
	#calendar
	//- include sections/counselling
	//- include sections/material
	//- include sections/banner
	//- include sections/interest
	//- include sections/our-studios
	//- include sections/webinar
	//- include sections/about
	//- include sections/consultants
	//- include sections/additional
	//- include sections/links
	//- include sections/contacts