.counselling {

	.col-lg-4  {
		margin-bottom: 30px;
		&:first-child {
			.counselling__item {
				color: $mainColor;
				justify-content: center;
				font-size: rem(30);
				text-align: center;
				font-family: $mainFontBold;
				text-transform: uppercase;
				background-color: $backBlueColor;
			}
		}
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 15px;
		width: 100%;
		min-height: 100%;
		text-decoration: none;
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
		background-color: $backGrayColor;
		img {
			display: block;
			flex-shrink: 0;
			margin-right: 10px;
			width: 100px;
			height: 100%;
			object-fit: cover;
			border: 3px solid $white;
			border-radius: 5px;
			filter: drop-shadow(0px 0px 2px rgba(31, 31, 31, 0.25));
		}
		p {
			width: calc(100% - 110px);
			color: $mainColor;
			font-size: rem(14);
		}
		&:hover {
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		}
	}
	&__bottom {
		display: flex;
		width: 100%;
		margin-top: 15px;
		justify-content: space-between;
		align-items: center;
	}
	&__name {
		color: $mainColor;
		font-family: $mainFontBold;
	}
}
