.interes-section {
    &:before,
    &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        width: 80px;
        height:  250px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &::before {
        left: 15px;
        background-image: url('../images/general/interes-i1.jpg');
    }
    &::after {
        right: 15px;
        background-image: url('../images/general/interes-i2.jpg');
    }
    .container {
        position: relative;
        z-index: 2;
    }
    @media screen and (max-width: 576px) {
        &::after, &::before { display: none }
    }
}
.nav {
    border-bottom: none;
}
.interes-type {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    span { color: $accentColor }
    label {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $mainColor;
        font-family: $mainFontBold;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
            color: $accentColor;
            span { color: $mainColor }
        }
        &:not(:last-child) { margin-right: 50px }
        
        @media screen and (max-width: 767px) {
            &:not(:last-child) { margin-right: initial }
        }
    }
    .tick { margin-left: 15px }
    img { margin-right: 15px }
    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
    @media screen and (max-width: 576px) {
        flex-direction: column;
    }
}

.interes-category {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 102px;
        color: $mainColor;
        text-align: center;
        font-family: $mainFontBold;
        text-decoration: none;
        transition: all ease .2s;
        cursor: pointer;
        .tick {
            position: absolute;
            right: 5px;
            top: 5px;
            opacity: 0;
            @include box(15px);
            .icon-tick {  @include box(9px) }
        }
        &:hover {
            color: $accentColor;
            .interes-category__img { 
                border-color: $accentColor;
                background-color: $white
            }
        }
        input[type='radio'] {
            &:checked {
                color: $accentColor;
                & ~ .interes-category__img { 
                    background-color: $white;
                    border-color: $accentColor;
                    .tick { 
                        opacity: 1;
                        background-color: $accentColor;
                        .icon-tick { fill: $white }
                     }
                }
            }
        }
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
        @media screen and (max-width: 576px) {
            span { font-size: 14px }
        }
    }
    &__img {
        position: relative;
        display: flex;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include box(90px);
        transition: all ease .2s;
        border-radius: 6px;
        border: 1px solid $white;
        background-color: $lightBlueColor;
        @media screen and (max-width: 767px) {
            margin-bottom: 10px;
        }
    }
}

label {
    input[type='radio'] {
        display: none;
        &:checked {
            & ~ .tick {
                background-color: $accentColor;
                .icon-tick { fill: $white }
            }
        }
    }
}

.tick {
    display: flex;
    justify-content: center;
    align-items: center;
    @include box(20px);
    border-radius: 6px;
    background-color: $lightBlueColor;
    .icon-tick {
        fill: $mainColor;
        @include box(12px);
    }
}

.interes-category-links {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    @media screen and (max-width: 576px) {
        margin-top: 0;
        justify-content: space-around;
    }
}

.interes-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    width: 100%;
    color: $mainColor;
    text-align: center;
    font-family: $mainFontBold;
    text-decoration: none;
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        max-width: 180px;
        height: 165px;
        transition: all ease .2s;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../images/general/interest/back-i.png');
        
        @media screen and (max-width: 767px) {
           margin-bottom: 0;
        }
    }
    &:hover {
        color: $accentColor;
        .interes-link__img {
            background-image: url('../images/general/interest/hover-i.png');
        }
    }
    @media screen and (max-width: 767px) {
        max-width: 30%;
    }
    @media screen and (max-width: 576px) {
        max-width: 45%;
        img { max-width: 100% }
    }
}