.nav {
    border-bottom: none;
}
.interes-type {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $mainColor;
        font-family: $mainFontBold;
        &:hover {
            color: $accentColor;
        }
        &:not(:last-child) { margin-right: 50px }
    }
    .tick { margin-left: 15px }
    img { margin-right: 15px }
}

.interes-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 180px;
        color: $mainColor;
        text-align: center;
        font-family: $mainFontBold;
        text-decoration: none;
        transition: all ease .2s;
        .tick {
            position: absolute;
            right: 5px;
            top: 5px;
            opacity: 0;
            @include box(15px);    
            .icon-tick {  @include box(9px) }
        }
        &.active {
            color: $accentColor;
            .tick { opacity: 1 }
            .interes-category__img { 
                border-color: $accentColor;
                background-color: $white
            }
        }
        &:hover {
            color: $accentColor;
            .interes-category__img { 
                border-color: $accentColor;
                background-color: $white
            }
        }
    }
    &__img {
        position: relative;
        display: flex;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include box(90px);
        transition: all ease .2s;
        border-radius: 6px;
        border: 1px solid $white;
        background-color: $lightBlueColor;
    }
}

a {
    &.active {
        .tick {
            background-color: $accentColor;
            .icon-tick { fill: $white }
        }
    }
}

.tick {
    display: flex;
    justify-content: center;
    align-items: center;
    @include box(20px);
    border-radius: 6px;
    background-color: $lightBlueColor;
    .icon-tick {
        fill: $mainColor;
        @include box(12px);
    }
}

.tab-content {
    .interes-category-links {
        flex-wrap: wrap;
        margin-top: 25px;
        &.active {
            display: flex;
        }
    }
}
.interes-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 2%;
    width: 100%;
    color: $mainColor;
    text-align: center;
    font-family: $mainFontBold;
    text-decoration: none;
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        max-width: 180px;
        height: 165px;
        transition: all ease .2s;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url('../images/general/interest/back-i.png');
    }
    &:hover {
        color: $accentColor;
        .interes-link__img {
            background-image: url('../images/general/interest/hover-i.png');
        }
    }
    
}