// Colors
$white: #fff;
$black: #000;
$gray: #848484;
$mainColor: #1F1F1F;
$accentColor: #AA004E;
$backGrayColor: #F8F8F8;
$backBlueColor: #E6F4F6;
$backYellowColor: #FFF8DE;

// Sizes
$base-font-size: 16px;

$mobile: 577;
$tablet: 768;
$large: 992;
$desktop: 1199;

$content: 1200px;

// Fonts
$mainFont: 'ALS Schlange';
$mainFontBold: 'ALS Schlange Bold';
$mainFontBlack: 'ALS Schlange Black';