section.content-section.about(style='background-image: url("web/images/general/back-blue-wave-small.png")')
	.container
		h2.g-cloud-title
			span.cloud Цифры
			span О НАС
		.row
			+aboutItem(1, '25', 'Добавлено мастер-классов')
			+aboutItem(2, '50', 'Оказано консультаций')
			+aboutItem(3, '356', 'Пользователей проекта')
			+aboutItem(4, '563', 'Образовательных материалов')