section.content-section.additional(style='background-image: url("web/images/general/back-light-wave.jpg")')
	.container
		h2.g-cloud-title
			span.cloud Дополнительные
			span разделы
		
		.row
			+additionalItem(1, 'О проекте')
			+additionalItem(2, 'Электронная библиотека')
			+additionalItem(3, 'Тьюторский центр В. В. Воскобовича')
			+additionalItem(4, 'Портал Я - родитель')
			+additionalItem(5, 'Портал Растим детей')
			+additionalItem(6, 'Образовательный портал Воронежской области')
			+additionalItem(7, 'Единое окно доступа к образовательным ресурсам')
			+additionalItem(8, 'Детское радио')