section.content-section.banner(style='background-image: url("web/images/general/banner-back.jpg")')
	.container
		.g-cloud-title
			span.cloud.cloud--small  Запишитесь
			h2.g-title.g-title--without-mb 
				span на Бесплатную консультацию
				br
				span к нашим специалистам
		button.g-btn.g-btn--animate(type='button') Записаться

		img(src="web/images/general/banner-img.png", alt="")