section.content-section.contacts
	.container
		h2.g-cloud-title
			span.cloud Наши
			span контакты
		.row
			.col-3
				span.contact__item Общий телефон:
				a(href="tel:+74732647750").info-icons
					+icon('phone')
					| +7 (473) 264-77-50
			.col-3
				span.contact__item Адрес:
				p.info-icons
					+icon('location')
					| г. Воронеж, ул. Генерала Лизюкова, 41
			.col-3
				span.contact__item Наш e-mail:
				a(href="mailto:Родители.рф@gmail.com").info-icons
					+icon('email')
					| Родители.рф@gmail.com
			
			.col-3.socials
				span.contact__item Наши социальные сети:
				+socials(socialsList)
	.map
		script(src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af8251c66c54fe35cbf04e943254b91b0574914856501550877341e9bf5267f32&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true')