section.content-section
	.container
		h1.g-title.g-title--center
			span Консультационный центр 
			span для родителей и детей

		.row.counselling
			.col-md-4
				a(href="#").counselling__item Свежие материалы
                
			-for(let i = 0; i < 5; i++)
				.col-md-4
					a(href="#").counselling__item
						img(src="web/images/content/make.jpg", alt="Консультационный центр ")
						p Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for

						.counselling__bottom
							span.age 3
							span.counselling__name Свежие материалы