section.content-section.interes-section
	.container
		h2.g-title.g-title--center
			span Выберите 
			span интересующие направления

		.nav.interes-type
			label
				input(type="radio" name='interes-type' value='1')
				img(src="web/images/general/interest/i1.jpg", alt="")
				| Для тех кто раст<span>Ё</span>т
				.tick
					+icon('tick')

			label
				input(type="radio" name='interes-type' value='2')
				img(src="web/images/general/interest/i2.jpg", alt="")
				| Для тех кто раст<span>И</span>т
				.tick
					+icon('tick')

		.nav.interes-category(role='tablist')
			+interesItemBtn('1', 'Ранний возраст')
			+interesItemBtn('2', 'Младшие дошкольники')
			+interesItemBtn('3', 'Старшие дошкольники')
			+interesItemBtn('4', 'Младшие школьники и подростки')
			+interesItemBtn('5', 'Школьники')
			+interesItemBtn('6', 'Особые дети')

		.interes-category-links
