section.content-section.links
	.container
		.g-cloud-title
			span.cloud Полезные
			h2 Ссылки
		
		.row.justify-content-center
			+linksItem(1, 'Департамент образования и науки Воронежской области')
			+linksItem(2, 'Министерство просвещения Российской Федерации')
			+linksItem(3, 'Федеральный образовательный портал')
			+linksItem(4, 'Федеральный центр информационно-образовательных ресурсов')
			+linksItem(5, 'Результаты независимой оценки качества оказания услуг организациями')
			+linksItem(6, 'Растимдетей.рф')
			+linksItem(7, 'Управление образования и молодежной политики')
			+linksItem(8, 'Единый портал государственных и муниципальных услуг')
			+linksItem(9, 'Единое окно доступа к образовательным ресурсам')
			+linksItem(10, 'Единая коллекция цифровых и образовательных ресурсов')
			+linksItem(11, 'Региональный портал услуг')
