section.content-section.content-section--crisis(style='background-image: url("web/images/general/back-blue-wave.jpg")')
	.container
		.row
			.col-lg-7
				.seconds-age
					span.age 3
					span Свежие материалы
				h2.g-cloud-title.g-cloud-title--small
					span.cloud.cloud--small  Тема месяца
					span Кризис 6-7 лет: от детства к школе
				p Ребенок переходит из садика в школу, и взрослые ждут от него большей рассудительности и самостоятельности. А на практике выходит наоборот: первоклассник словно “откатывается” назад в развитии и забывает все, чему его учили. Детский психолог Вера Поветкина - о причинаъ этого возрастного кризиса и о том, как его пережить.
				br
				a(href="#").g-btn.g-btn--animate Подробнее
			
			.col-lg-5
				img.img(src="web/images/content/boy.jpg", alt="Кризис 6-7 лет: от детства к школе")