section.content-section.content-section--wave(style='background-image: url("web/images/general/back-blue-wave.jpg")')
	.container
		h2.g-cloud-title
			span.cloud  Тема месяца
			span Кризис 6-7 лет: от детства к школе
